<!doctype html>
<html lang="en">
  <head>
    {% ifhascontent css %}
      <style type="text/css">
        {% contentblock css no-convert %}
      </style>
    {% endifhascontent %}
  </head>

  <body>
    <h1>{{ page.title }}</h1>

    {{ content }}

    {% ifhascontent sidebar %}
      <div class="custom-sidebar">
        {% contentblock sidebar %}
      </div>
    {% endifhascontent %}

    {% ifnothascontent sidebar %}
      <div class="sidebar-default">
        This is the default sidebar
      </div>
    {% endifnothascontent %}

    {% ifhascontent footer %}
      {% contentblock footer %}
    {% endifhascontent %}

    {% ifnothascontent footer %}
    <div id="footer">
      This is the default footer.
    </div>
    {% endifnothascontent %}
  </body>
</html>

